
.main {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.topName {
  font-size: 20vmin;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.secHead {
  
}

/* nav styling */ 
.links {
  position: fixed;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vmin;
}

.links > * {
  text-decoration: none;
  text-justify: center;
  padding-left: 2vmin;
  color: gray;
  font-size: 3vmin;
}

.links > *:hover {
  border-left: .8vmin solid #ffffff;
  border-bottom: .4vmin solid #ffffff;
  color: white;
  height: 4vmin;
  background: linear-gradient(0.2turn, #a0a0a0, transparent);
}

/* Project Section Styling */

.projGrid {
  display: grid;
  grid-template-columns: 25vw 25vw;

}

.projDiv {
  height: 30vh;
  width: 30vw;
  background-color: violet;
  /* background-image: url("../public/brainAtlas.png"); */
}


/* Contact Me section styling */

.formStyle {
  width: "160px";
  height: "95px";
  display: "flex";
  flex-direction: "column";
  justify-content: "space-between";
  align-items: "center";
}

.contactDivStyle {
  width: "160px";
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}
.inputStyle {
  width: "120px";
    font-size: "10px";
    resize: "none";
    overflow-y: "auto";
    height: 30px ;
}

.buttonStyle {
  font-size: "10px";
  margin-top: "5px";
}

/* Footer.js styling */
.footerDiv {
  background-color: #494949 ;
  margin-top: 4vmin;
  height: 30vmin;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

.footerLinks {
  width: 40vmin;
  padding-top: 2vmin;
  display: flex;
  justify-content: space-around;
}

.footerLinks > a > img {
  height: 14vmin;
  border-radius: 50%;
}

.footerLinks > a > img:hover {
  box-shadow: .7vmin .7vmin 1vmin #a5a5a5;
}