.main {
  color: white;
  width: 640px;
  margin: 0 auto;
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topName {
  color: #E8E8E8;
  font-size: 64px;
  font-weight: 600;
}

.sectionHead {
  color: #E8E8E8;
  font-size: 24px;
  font-weight: 600;
}

.smallTitle {
  color: #E8E8E8;
  font-size: 16px;
  font-weight: 600;
}

.genText {
  color: #E8E8E8;
  font-size: 12px;
  font-weight: 400;
}

/* about section styling */ 
.about {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
}
.profilePic {
  border-radius: 50%;
}

.aboutText {
  margin-left:2%;
  width:400px;
}

.aboutLinks > *{
  margin-right: 2%;
}



/* nav styling */ 
/* .links {
  position: fixed;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vmin;
}

.links > * {
  text-decoration: none;
  text-justify: center;
  padding-left: 2vmin;
  color: gray;
  font-size: 3vmin;
}

.links > *:hover {
  border-left: .8vmin solid #ffffff;
  border-bottom: .4vmin solid #ffffff;
  color: white;
  height: 4vmin;
  background: linear-gradient(0.2turn, #a0a0a0, transparent);
} */

/* Project Section Styling */

.projList {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.projDiv {
  margin: 16px;
  border-radius: 8px;
  border: 1px solid #282828;
  height: 200px;
  background: #242424;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
}

.projText {
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.projText > * {
  margin-bottom: 8px;
}

.projPills > * {
  display: inline-flex;
  padding: 4px 8px;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  border-radius: 20px;
  background: #343434;
  margin-right: 1%;
}

/* Contact Me section styling */

.formStyle {
  margin: 16px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 260px;
  height: 254px;
  border-radius: 8px;
  border: 1px solid #282828;
  background: #242424;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.formStyle > .inputStyle {
  margin: 4px 0px 8px
}

.inputStyle {
  border: none;
  color: #E8E8E8;
  border-radius: 4px;
  background: #343434;
  font-size: 10px;
  resize: none;
  overflow-y: auto;
}

.buttonStyle {
  color:#E8E8E8;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #282828;
  background: #343434;
  align-self: flex-end;
}

/* Footer.js styling */
.footerDiv {
  background-color: #494949 ;
  height: 200px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footerLinks {
  width: 512px;
  padding-top: 2vmin;
  display: flex;
  justify-content: space-evenly;
}

.footerLinks > a > img {
  height: 128px;
  border-radius: 50%;
}

.footerLinks > a > img:hover {
  box-shadow: .7vmin .7vmin 1vmin #a5a5a5;
}